@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navlinks{
        @apply  py-1 text-base px-3 font-normal transition duration-200 text-black cursor-pointer hover:text-black hover:bg-white  rounded-full
    }
    .active{
        @apply bg-white text-black
    }
    h1{
        @apply text-3xl md:text-4xl text-main mx-2
    }
    h2{
        @apply text-3xl text-main text-center my-10
    }
}
.bgimg{
    background-image: url(./assets/bg.png);
}.bgimg2{
    background-image: url(./assets/comunity.jpg);
}

#root {
  background-color: rgb(15, 15, 15);
  min-height: 10000px;
}


