@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    *{
        @apply scroll-smooth
    }
    .navlinks{
        @apply  py-1 text-base px-3 font-normal transition duration-200 text-white cursor-pointer hover:text-black hover:bg-main  rounded-full
    }
    .active{
        @apply bg-white text-black
    }
    h1{
        @apply text-3xl md:text-4xl text-main mx-2
    }
    h2{
        @apply text-3xl text-main text-center my-10
    }
    
    .input{
        @apply placeholder:text-white/50 outline-none py-2 focus:border-2  focus:border-white text-white rounded-2xl bg-black/50 backdrop-blur-lg h-12 my-4 appearance-none px-4
    } 
    select{
        @apply bg-black/50 px-4 py-2 outline-none backdrop-blur-lg rounded-2xl p-2 text-white
    }
    option{
        @apply placeholder:text-white py-2 text-white appearance-none bg-black px-12 outline-none backdrop-blur-lg rounded-2xl
    }
    label{
        @apply text-main font-bold text-xl my-2 mt-8 ml-2 
    }
    textarea{
        @apply placeholder:text-white/50 outline-none rounded-lg bg-black/50 backdrop-blur-lg h-44 p-2 text-white
    }
    .skil{
       @apply text-white px-4 py-2 m-2 flex flex-row-reverse items-center gap-2 bg-black/70 backdrop-blur-lg rounded-3xl
    }
    .active{
        @apply bg-main text-black
    }
    
    
    
}
.bgimg{
    background-image: url(./assets/hero.webp);
}.bgimg2{
    background-image: url(./assets/comunity.png);
}
.bgimg3{
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    filter: brightness(0.95);
   

}
.shadowmain{
    text-shadow: 25px 10px 50px #DC940F;
}
.titlecolor{
    color: rgba(145, 145, 145, 0.802);
}

#root {
  
  background: radial-gradient(ellipse at top left, #000000, #202020 , rgb(0, 0, 0) , rgb(22, 22, 22));

  
}



input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-moz-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




  
slick-dots {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 5px 0;
    flex-wrap: wrap; /* Ensure dots wrap to a new row if they exceed the container width */
  }
  
  .slick-dots li {
    margin: 0px 0px;

  }

  @media (max-width : 300px){

    .slick-dots li {
        display: none;
    
      }
  }
  
  .slick-dots li button {
    font-size: 20px; /* Change the font size of the dots */
    border: none; /* Remove the border */
    width: 6px; /* Change the width of the dots */
    height: 6px; /* Change the height of the dots */
    border-radius: 50%;
    background-color: rgb(255, 255, 255); /* Change the background color of the dots */
  }
  
  .slick-dots li.slick-active button {
    background-color: #333; /* Change the active dot color */
  }


  button::before{
    display: none;
  }